/* TIME AND DATE */
.time-date {
	color: white;
    margin: 20px;
    font-size: large;
}

/* CALENDAR */

.advent-24 {
    width: 10%;
}
.advent-calendar .drinks{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 20px;
}
.days-img {
	width: 210px;
	height: 300px;
}
.cocktail {
	width: 210px;
	height: 300px;
}

/* FLIP THE CARDS */

.flip-card {
    cursor: pointer;
	background-color: transparent;
	width: 210px;
	height: 300px;
	-webkit-perspective: 1000px;
	perspective: 1000px;
}
.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.8s;
	transform-style: preserve-3d;
	box-shadow: -5px 5px 5px #aaa;
}
.flip-card-active:hover .flip-card-inner {
	transform: rotateY(180deg);
} 
.card-front, .card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.card-back {
	transform: rotateY(180deg);
	position: relative;
	text-align: center;
	text-transform: uppercase;
  }
.card-back h3 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #fff;
}

/* WEB RESPONSIVE */

@media (max-width: 1200px) {
    .advent-calendar .drinks {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (max-width: 1000px) {
    .advent-calendar .drinks {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 800px) {
    .advent-calendar .drinks {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 500px) {
    .advent-calendar .drinks {
        display: flex;
        flex-direction: column;
    }  
}
